.header__logo{
  max-width: 142px;
  padding-top: 45px;
  padding-bottom: 41px;
}

@media screen and (max-width: 879px) {
  .header__logo {
    margin-left: 24px;
    padding-top: 35px;
    padding-bottom: 31px;
  }

}
@media screen and (max-width: 620px) {
  .header__logo {
    margin-left: 16px;
    padding-top: 25px;
    padding-bottom: 21px;
  }

}
@media screen and (max-width: 520px) {
  .header__logo {
    max-width: 103.74px;
    margin-left: 27px;
    padding-top: 28px;
    padding-bottom: 31px;
  }

}
