.profile__foto-container {
  display: block;
  margin-right: 25px;
}

.profile__foto-container:hover .profile__foto-edit{
  cursor: pointer;
  opacity: 1;
  transition: .1s linear;
}

.profile__foto-container:hover .profile__foto {
  opacity: 0.2;
  transition: .1s linear;
}

@media (max-width: 575px){
  .profile__foto-container {
    max-width: 180px;
    max-height: 180px;
    margin: auto;
    align-self: center;
  }
}
