@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__line/header__line.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__button-add/profile__button-add.css);
@import url(./blocks/profile/__button-edit/profile__button-edit.css);
@import url(./blocks/profile/__container-text/profile__container-text.css);
@import url(./blocks/profile/__foto/profile__foto.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__foto-edit/profile__foto-edit.css);
@import url(./blocks/profile/__foto-container/profile__foto-container.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/content/content.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__save/popup__save.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__item/popup__item.css);
@import url(./blocks/popup/__heading/popup__heading.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__preview-container/popup__preview-container.css);
@import url(./blocks/popup/__preview-img/popup__preview-img.css);
@import url(./blocks/popup/__preview-subtitle/popup__preview-subtitle.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__grid/element__grid.css);
@import url(./blocks/element/__foto/element__foto.css);
@import url(./blocks/element/__foto-container/element__foto-container.css);
@import url(./blocks/element/__description/element__description.css);
@import url(./blocks/element/__description-text/element__description-text.css);
@import url(./blocks/element/__description-like/element__description-like.css);
@import url(./blocks/element/__container-like/element__container-like.css);
@import url(./blocks/element/__likes/element__likes.css);
@import url(./blocks/element/__container/element__container.css);
@import url(./blocks/element/__description-like/_active/element__description-like_active.css);
@import url(./blocks/element/__trash/element__trash.css);
@import url(./blocks/element/__trash/_hidden/element__trash_hidden.css);
@import url(./blocks/popup/__item/_type_error/popup__item_type_error.css);
@import url(./blocks/popup/__input-error/__input-error_active/popup__input-error_active.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/login/login.css);
@import url(./blocks/login/__button/login__button.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__link/login__link.css);
@import url(./blocks/infoTooltip/infoTooltip.css);
@import url(./blocks/infoTooltip/__title/infoTooltip__title.css);
@import url(./blocks/infoTooltip/__image/infoTooltip__image.css);
@import url(./blocks/infoTooltip/__active/infoTooltip__active.css);
body{
background-color: black;
}